## PYTHON WORKSHOP(SET)

## create a set

In [25]:
A={1,2,3}
B={4,8,6}
print(A)
print(B)

{1, 2, 3}
{8, 4, 6}

In [15]:
A={1,2,3}
B={14,8,6}
A,B

({1, 2, 3}, {6, 8, 14})

## add an element to the set

In [17]:
A={1,2,3,4}
A.add(5)
A

{1, 2, 3, 4, 5}

## to create an intersection to a set

In [22]:
A={"riya","drishti"}
B={"riya","drishti","kajol"}
C=(A & B)
C

{'drishti', 'riya'}

## to create a union to a set

In [24]:
A={"riya","drishti"}
B={"riya","drishti","kajol"}
C=(A | B)
C

{'drishti', 'kajol', 'riya'}

## to clear a set

In [26]:
A={"riya","kajol"}
B=A.copy()
B

{'kajol', 'riya'}

In [27]:
B.clear()
B

set()

## to create an empty set

In [28]:
set1={}
set1

{}

## to create a set

In [31]:
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

## to add an element to a set

In [43]:
set1={1,2,3}
set1.add(1)
set1.add(1000)
set1.add("apple")
set1.add("$")
set1

{'$', 1, 1000, 2, 3, 'apple'}

## to add multiple items using update function

In [44]:
set1.update(["c","xyz",1.08])
set1

{'$', 1, 1.08, 1000, 2, 3, 'apple', 'c', 'xyz'}

## to find the length of a set

In [45]:
X=len(set1)
X

9

## remove value from a set

In [47]:
set1.remove("c")
set1

{'$', 1, 1.08, 1000, 2, 3, 'apple', 'xyz'}

## pop an element from a set

In [48]:
Y=set1.pop()
Y

1

## to clear a set

In [52]:
set1.clear()
set1

set()

## to delete a set

In [61]:
del set1()
set1

SyntaxError: can't delete function call (<ipython-input-61-dd20c1ea4850>, line 1)

## create a union of sets

In [60]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.union(s2)
s3

{1, 2, 3, 4, 'a', 'b', 'c', 'e'}

## create an intersection of sets

In [62]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.intersection(s2)
s3

{'a', 'b', 'c'}

In [64]:
##symmetric  difference

##difference

## to create set difference

In [65]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.difference(s2)
s3

{'e'}

## create a symmetric difference

In [81]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s3=s1.symmetric_difference(s2)
s3

{1, 2, 3, 4, 'e'}

## issuperset

In [75]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s1.issuperset(s2)

False

## issubset

In [79]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s2.issubset(s1)

False

## to update a set

In [80]:
s1={"a","b","c","e"}
s2={"a","b","c",1,2,3,4}
s1.update(s2)
s2

{1, 2, 3, 4, 'a', 'b', 'c'}